@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body{
    font-family: 'PT Sans', sans-serif;    
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.container{
    margin: 0;
    padding: 0;
    height: 100%;
}
nav{
    background-color: rgb(34, 33, 33);
}
nav a{
    display: inline;
    color: white;
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s;
    padding: 5px;
    border-radius: 5px;
}
nav a:hover{
    color: black;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}
nav li{
    text-align: center;
    list-style-type: none;
    transition: color 0.1s, background-color 0.2s;
    padding: 10px;
}
nav li:hover{
    background-color: gray;
}
nav ul{
    margin: 0;
    padding: 0;
}
q{
    font-style: italic;
    padding-right: 2px;
}
header{
    text-align: center;
}
article{
    color: white;
    padding: 15px;
    text-align: justify;
    background-color: rgb(19, 19, 31);
    text-shadow: 0 0 2px lightgray;
}
footer{
    background-color: gray;
}
.logo{
    height: 200px;
    margin: 15px;
}
#ddvid{
    width: 500px;
}
#ddhead{
    background: rgb(34,33,33);
    background: linear-gradient(180deg, rgba(34,33,33,1) 0%, rgba(121,61,9,1) 20%, rgba(121,61,9,1) 76%, rgba(19,19,31,1) 100%); 
}
#ddhead img{
    padding: 50px;
}
#ddart h2{
    font-size: 3rem;
    text-align: center;
}
#ddart p{
    font-size: 1.5rem;
    text-align: center;
}
#ddart img{
    width: 45%;
    border: 2px solid rgb(95, 23, 23);
}
#ddvid{
    border: 2px solid rgb(95,23,23);
    width: 50%;
}
#ddart h2:last-of-type{
    text-align: left;
}
hr{
    width: 85%;
}
footer h3{
    padding: 0;
    margin: 0;
    text-align: center;
}
footer p{
    margin: 0;
    padding: 0;
    text-align: center;
}
table{
    
}
td{
    width: 30%;
}